{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <div class="mt-3 pb-3 card">
        {# total des elections #}
        <div class="row mx-auto total">

            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="card-header">
                        <h6> Nombre total de bureau de vote</h6>
                        <h2> <strong> {{nbBVvote}} </strong> </h2>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="card-header">
                        <h6> Nombre total de votants</h6>
                        <h2> <strong> {{nbInscrit}} </strong> </h2>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="card-header">
                        <h6>Nombre total de bulletins nuls</h6>
                        <h2> <strong> {{bulletinNull}} </strong> </h2>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="card-header">
                        <h6> Nombre total de bulletins exprimés</h6>
                        <h2> <strong> {{bulletinExp}} </strong> </h2>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="card-header">
                        <h6>Nombre total de votants</h6>
                        <h2> <strong> {{nbVotant}} </strong> </h2>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="card-header">
                        <h6>Taux de participation</h6>
                        <h2> <strong> {{taux}} % </strong> </h2>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {# total des elections #}

    <div class="mt-3 pb-3 card">
        <div class="row">

            {% for key, row in nb %}
            <div class="col-sm-6 col-md-6 col-lg-4 my-3">

                <div class="cards" style="padding: 15px">
                    <div class="card-header mb-3">
                        <h5>{{key}}</h5>
                    </div>
                    <div>

                        {# Nombre d'inscrit #}
                        <div>
                            {% set sommeNbInscrit = 0 %}
                            {% for t in row %}
                            {% set sommeNbInscrit = sommeNbInscrit+ t.nbInscrit %}

                            {% endfor %}
                            <div class="alert alert-primary" role="alert">
                                Nombre d'inscrit: <h3><strong> {{sommeNbInscrit}}</strong></h2> 
                            </div>
                        </div>
                        {# Nombre d'inscrit fin #}



                        {# Nombre de votant #}
                        {% set sommeNbVotant = 0 %}
                        {% for t in row %}
                        {% set sommeNbVotant = sommeNbVotant+ t.nbVotant %}

                        {% endfor %}
                        <div class="alert alert-info" role="alert">
                            Nombre de votant: <h3><strong> {{sommeNbVotant}}</strong></h2> 
                        </div>
                        {# Nombre de votant fin #}

                    </div>

                    <div>

                        {# Nombre d'inscrit #}
                        <div>
                            {% set sommeBuelletinNull = 0 %}
                            {% for t in row %}
                            {% set sommeBuelletinNull = sommeBuelletinNull+ t.bulletinNull %}

                            {% endfor %}
                            <div class="alert alert-success" role="alert">
                                Nombre de bulletins nulls: <h3><strong> {{sommeBuelletinNull}}</strong></h2> 
                            </div>
                        </div>
                        {# Nombre d'inscrit fin #}



                        {# Nombre de votant #}
                        {% set sommeBuelletinExp = 0 %}
                        {% for t in row %}
                        {% set sommeBuelletinExp = sommeBuelletinExp+ t.bulletinExp %}

                        {% endfor %}
                        <div class="alert alert-warning" role="alert">
                            Nombre de bulletins exprimés: <h3><strong> {{sommeBuelletinExp}}</strong></h2> 
                        </div>
                        {# Nombre de votant fin #}

                    </div>


                </div>
            </div>

            {% endfor %}
        </div>
    </div>


</div>
{% endblock %}