{% extends 'base.html.twig' %}

{% block title %}SunuLégislatives2022 | Dashboard{% endblock %}

{% block body %}
<div class="container-fluid">
    {# resultats gloaaux #}
    <div class="mt-3 pb-3 card">
        <div class="card-header pt-2">
            <h3>Principaux chiffres des élections</h3>
        </div>
        {# total des elections #}
        <div class="row mx-auto total">

            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="alert alert-secondary">
                        <h6> Nombre total de bureaux de vote</h6>
                        <h2> <strong> {{nombreTotalBV}} </strong> </h2>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="alert alert-info">
                        <h6> Nombre d'inscrits</h6>
                        <h2> <strong> {{nbInscrit}} </strong> </h2>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="alert alert-warning">
                        <h6>Nombre total de votants</h6>
                        <h2> <strong> {{nbVotant}} </strong> </h2>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="alert alert-danger">
                        <h6>Nombre total de bulletins nuls</h6>
                        <h2> <strong> {{bulletinNull}} </strong> </h2>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="alert alert-primary">
                        <h6> Nombre total de bulletins exprimés</h6>
                        <h2> <strong> {{bulletinExp}} </strong> </h2>
                    </div>

                </div>
            </div>


            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="alert alert-success">
                        <h6>Taux de participation</h6>
                        <h3> <strong> {{taux}} % </strong> </h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {# Fin resultats gloaaux #}

    {# Nombre de bureaux de vote par circonscription #}
    <div class="card mt-3 mb-3">
        <div class="card-header pt-2">
            <h3>Nombre de résultats de bureaux de vote obtenus</h3>
        </div>
        <div class="card-body">
            {% if nombreBVCirconscription %}

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Le nom de la circonscription</th>
                        <th scope="col">Nombre de bureaux de vote</th>
                        <th scope="col">Nombre de résultats de bureaux de vote obtenus</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in nombreBVCirconscription %}
                    <tr>
                        <td> {{row.nomCir}} </td>
                        <td> {{row.nbBureauVote}} </td>
                        <td>
                            {% if man == [] %}
                            0
                            {% else %}
                            {% for test in man %}
                            {% if row.nomCir == test.nomCir %}
                            {{test.NBresultat}}
                            {% endif %}
                            {% endfor %}
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            {% else %}
            <div class="alert alert-danger text-center" role="alert">
                <span>Aucun enregistrement trouvé </span>
            </div>
            {% endif %}

        </div>
    </div>
    {# Fin Nombre de bureaux de vote par circonscription #}

    {# Digramme pour le nombre de voix pour chaque coalition #}


    <div class="card mt-3 mb-3">
        <div class="card-header pt-2">
            <h3>Nombre de voix total de chaque Coalition</h3>
        </div>
        <div class="card-body">
            {% if chartBar.data.labels %}

            <div class="chart-bar my-4" style="padding: 20px">
                {{ render_chart(chartBar, {'class': 'my-chart'}) }}
            </div>
            {% else %}
            <div class="alert alert-danger">
                Aucune donnée n'est dispobible pour le diagramme
            </div>
            {% endif %}
        </div>
    </div>
    {# Les résultats pour chaque coalition et circonscription #}

    {# Nombre de voix pour chaque liste #}

    <div class="card mt-3 mb-3">
        <div class="card-header pt-2">
            <h3>Tableau du nombre de voix total de chaque Coalition</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if findNombreTotalVoix | length > 0 %}

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Le nom de la coalition</th>
                            <th scope="col">Nombre total de Voix</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in findNombreTotalVoix %}
                        <tr>
                            <td> {{row.nom}} </td>
                            <td> {{row.nbVoix}} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-danger text-center" role="alert">
                    <span>Aucun enregistrement trouvé </span>
                </div>
                {% endif %}
            </div>

        </div>
    </div>

    {# Fin Nombre de voix pour chaque liste #}

    <div class="card mt-3 mb-3">
        <div class="card-header pt-2">
            <h3>Nombre de voix de chaque Coalition par Circonscription électorale</h3>
        </div>
        <div class="card-body mt-3 mb-3">
            <div class="table-responsive">
                {% if resultDprt %}

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nom de la circonscription</th>
                            <th scope="col">Nombre de votants</th>
                            <th scope="col">Nombre de bulletins nuls</th>
                            <th scope="col">Nombre de bulletins exprimés</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for row in resultDprt %}
                        <tr>
                            <td>{{row.nomCir}}</td>
                            <td>{{row.nbVotant}}</td>
                            <td>{{row.bulletinNull}}</td>
                            <td>{{row.bulletinExp}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-danger text-center" role="alert">
                    <span>Aucun enregistrement trouvé </span>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
    {# Fin Les résultats pour chaque coalition et circonscription #}




    {# Nombre de résultats de Bureaux de Vote obtenus #}
    <div class="card mt-3 mb-3">
        <div class="card-header pt-2">
            <h3>Nombre de voix de chaque Coalition par bureau de vote</h3>
        </div>
        <div class="content table-responsive">
            {% if nombreResultatBV %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom de la circonscription</th>
                        <th>Bureau de vote</th>
                        <th>Nombre de votants</th>
                        <th>Bulletins nuls</th>
                        <th>Bulletins exprimés</th>
                        {% for row in coalitions %}
                        <th> {{row.nom}} </th>
                        {% endfor %}
                        <th>Représentant</th>
                        {% if app.user and app.user.roles[0] == 'ROLE_REPRESENTANT' %}
                        <th>Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for resultat in resultats %}
                    <tr>
                        <td>{{ resultat.user.BV.nomCir }}</td>
                        <td>{{ resultat.user.BV.NomBV }}</td>
                        <td>{{ resultat.nbVotant }}</td>
                        <td>{{ resultat.bulletinNull }}</td>
                        <td>{{ resultat.bulletinExp }}</td>
                        {% for row in resultat.getResultatCoalitions %}
                        <td> {{row.nombre}} </td>
                        {% endfor %}
                        <td>{{ resultat.user.prenom }} {{resultat.user.nom}}</td>
                        {% if app.user == resultat.user %}
                        <td>

                            <a href="{{ path('app_resultat_edit', {'id': resultat.id}) }}"
                                class="mx-1 my-2 btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{{ path('app_resultat_delete', {'id': resultat.id}) }} "
                                class="mx-1 my-2 btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% else %}
            <div class="alert alert-danger text-center" role="alert">
                <span>Aucun enregistrement trouvé </span>
            </div>
            {% endif %}
        </div>
    </div>
    {# Fin Nombre de résultats de Bureaux de Vote obtenus #}
</div>
{% endblock %}