{% extends 'base.html.twig' %}

{% block title %}SunuLégislatives2022 | Dashboard{% endblock %}

{% block body %}
<div class="container-fluid">
    {# resultats gloaaux #}
    <div class="mt-3 pb-3 card">
        <div class="card-header pt-2">
            <h3>Principaux chiffres des élections</h3>
        </div>
        {# total des elections #}
        <div class="row mx-auto total">

            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="alert alert-secondary">
                        <h6> Nombre total de bureaux de vote</h6>
                        <h2> <strong> {{nombreTotalBV}} </strong> </h2>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="alert alert-info">
                        <h6> Nombre d'inscrits</h6>
                        <h2> <strong> {{nbInscrit}} </strong> </h2>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="alert alert-warning">
                        <h6>Nombre total de votants</h6>
                        <h2> <strong> {{nbVotant}} </strong> </h2>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="alert alert-danger">
                        <h6>Nombre total de bulletins nuls</h6>
                        <h2> <strong> {{bulletinNull}} </strong> </h2>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="alert alert-primary">
                        <h6> Nombre total de bulletins exprimés</h6>
                        <h2> <strong> {{bulletinExp}} </strong> </h2>
                    </div>

                </div>
            </div>


            <div class="col-sm-6 col-md-6 col-lg-4 my-3">
                <div class="cards">
                    <div class="alert alert-success">
                        <h6>Taux de participation</h6>
                        <h3> <strong> {{taux}} % </strong> </h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {# Fin resultats gloaaux #}

    {# Nombre de bureaux de vote par circonscription #}
    <div class="card mt-3 mb-3">
        <div class="card-header pt-2">
            <h3>Nombre de résultats de bureaux de vote obtenus</h3>
        </div>
        <div class="card-body">
            {% if nombreBVCirconscription %}

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Le nom de la circonscription</th>
                        <th scope="col">Nombre de bureaux de vote</th>
                        <th scope="col">Nombre de résultats de bureaux de vote obtenus</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in nombreBVCirconscription %}
                    <tr>
                        <td> {{row.nomCir}} </td>
                        <td> {{row.nbBureauVote}} </td>
                        <td>
                            {% for test in man %}
                            {% if row.nomCir == test.nomCir %}
                            {{test.NBresultat}}
                            {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            {% else %}
            <div class="alert alert-danger text-center" role="alert">
                <span>Aucun enregistrement trouvé </span>
            </div>
            {% endif %}

        </div>
    </div>
    {# Fin Nombre de bureaux de vote par circonscription #}

    {# Digramme pour le nombre de voix pour chaque coalition #}


    <div class="card mt-3 mb-3">
        <div class="card-header pt-2">
            <h3>Nombre de voix total de chaque Coalition</h3>
        </div>
        <div class="card-body">
            {% if chartBar %}

            <div class="chart-bar my-4" style="padding: 20px">
                {{ render_chart(chartBar, {'class': 'my-chart'}) }}
            </div>
            {% else %}
            <div class="alert alert-danger">
                Aucune donnée n'est dispobible pour le diagramme
            </div>
            {% endif %}
        </div>
    </div>
    {# Les résultats pour chaque coalition et circonscription #}

    {# Nombre de voix pour chaque liste #}

    <div class="card mt-3 mb-3">
        <div class="card-header pt-2">
            <h3>Tableau du nombre de voix total de chaque Coalition</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if nbTotalVoixPourCoalition | length > 0 %}

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Le nom de la coalition</th>
                            <th scope="col">Nombre total de Voix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Naatangué Sénégal</td>
                            <td> <strong class="h3">
                                    {% if nbTotalVoixPourCoalition.wallu | length > 0 %}
                                    {{nbTotalVoixPourCoalition.wallu}}
                                    {% else %}
                                    0
                                    {% endif %}
                                </strong> </td>
                        </tr>
                        <tr>
                            <td>Yewi Askan Wi</td>
                            <td> <strong class="h3">
                                    {% if nbTotalVoixPourCoalition.yewi | length > 0 %}
                                    {{nbTotalVoixPourCoalition.yewi}}
                                    {% else %}
                                    0
                                    {% endif %}
                                </strong> </td>
                        </tr>

                        <tr>
                            <td>Benno Bokk Yakaar (mouvance présidentielle) </td>
                            <td> <strong class="h3">
                                    {% if nbTotalVoixPourCoalition.bby | length > 0 %}
                                    {{nbTotalVoixPourCoalition.bby}}
                                    {% else %}
                                    0
                                    {% endif %}
                                </strong> </td>
                        </tr>
                        <tr>
                            <td>Alternatives pour une Assemblée de rupture (AAR) </td>
                            <td> <strong class="h3">
                                    {% if nbTotalVoixPourCoalition.aar | length > 0 %}
                                    {{nbTotalVoixPourCoalition.aar}}
                                    {% else %}
                                    0
                                    {% endif %}
                                </strong> </td>
                        </tr>
                        {# #}
                        <tr>
                            <td>Naatangué Sénégal</td>
                            <td> <strong class="h3">
                                    {% if nbTotalVoixPourCoalition.natangue | length > 0 %}
                                    {{nbTotalVoixPourCoalition.natangue}}
                                    {% else %}
                                    0
                                    {% endif %}
                                </strong> </td>
                        </tr>
                        <tr>
                            <td>Les serviteurs</td>
                            <td> <strong class="h3">
                                    {% if nbTotalVoixPourCoalition.serviteur | length > 0 %}
                                    {{nbTotalVoixPourCoalition.serviteur}}
                                    {% else %}
                                    0
                                    {% endif %}
                                </strong> </td>
                        </tr>

                        <tr>
                            <td>Bokk Gis-Gis</td>
                            <td> <strong class="h3">
                                    {% if nbTotalVoixPourCoalition.bokkgisgis | length > 0 %}
                                    {{nbTotalVoixPourCoalition.bokkgisgis}}
                                    {% else %}
                                    0
                                    {% endif %}
                                </strong> </td>
                        </tr>
                        <tr>
                            <td>Union citoyenne Bunt Bi </td>
                            <td> <strong class="h3">
                                    {% if nbTotalVoixPourCoalition.ucb | length > 0 %}
                                    {{nbTotalVoixPourCoalition.ucb}}
                                    {% else %}
                                    0
                                    {% endif %}
                                </strong> </td>
                        </tr>


                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-danger text-center" role="alert">
                    <span>Aucun enregistrement trouvé </span>
                </div>
                {% endif %}
            </div>

        </div>
    </div>

    {# Fin Nombre de voix pour chaque liste #}

    <div class="card mt-3 mb-3">
        <div class="card-header pt-2">
            <h3>Nombre de voix de chaque Coalition par Circonscription électorale</h3>
        </div>
        <div class="card-body mt-3 mb-3">
            <div class="table-responsive">
                {% if resultDprt %}

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nom de la circonscription</th>
                            <th scope="col">Nombre de votants</th>
                            <th scope="col">Nombre de bulletins nuls</th>
                            <th scope="col">Nombre de bulletins exprimés</th>
                            <th scope="col">Wallu Sénégal</th>
                            <th scope="col">Yewi Askan Wi</th>
                            <th scope="col">Benno Bokk Yakaar (mouvance présidentielle)</th>
                            <th scope="col">Alternatives pour une Assemblée de rupture (AAR)</th>
                            <th scope="col">Les serviteurs</th>
                            <th scope="col">Naatangué Sénégal</th>
                            <th scope="col">Bokk Gis-Gis</th>
                            <th scope="col">Union citoyenne Bunt Bi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in resultDprt %}
                        <tr>
                            <td>{{row.nomCir}}</td>
                            <td>{{row.nbVotant}}</td>
                            <td>{{row.bulletinNull}}</td>
                            <td>{{row.bulletinExp}}</td>
                            <td>{{row.wallu }}</td>
                            <td>{{row.yewi }}</td>
                            <td>{{row.bby }}</td>
                            <td>{{row.aar }}</td>
                            <td>{{row.serviteur }}</td>
                            <td>{{row.natangue }}</td>
                            <td>{{row.bokkgisgis }}</td>
                            <td>{{row.ucb }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-danger text-center" role="alert">
                    <span>Aucun enregistrement trouvé </span>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
    {# Fin Les résultats pour chaque coalition et circonscription #}




    {# Nombre de résultats de Bureaux de Vote obtenus #}
    <div class="card mt-3 mb-3">
        <div class="card-header pt-2">
            <h3>Nombre de voix de chaque Coalition par bureau de vote</h3>
        </div>
        <div class="content table-responsive">
            {% if nombreResultatBV %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom de la circonscription</th>
                        <th>Bureau de vote</th>
                        <th>Nombre de votants</th>
                        <th>Bulletins nuls</th>
                        <th>Bulletins exprimés</th>
                        <th>Wallu Sénégal</th>
                        <th>Yewi Askan Wi</th>
                        <th>Benno Bokk Yakaar (mouvance présidentielle)</th>
                        <th>Alternatives pour une Assemblée de rupture (AAR)</th>
                        <th>Les serviteurs</th>
                        <th>Naatangué Sénégal</th>
                        <th>Bokk Gis-Gis</th>
                        <th>Union citoyenne Bunt Bi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resultat in nombreResultatBV %}
                    <tr>
                        <td>{{ resultat.user.BV.nomCir }}</td>
                        <td>{{ resultat.user.BV.NomBV }}</td>
                        <td>{{ resultat.nbVotant }}</td>
                        <td>{{ resultat.bulletinNull }}</td>
                        <td>{{ resultat.bulletinExp }}</td>
                        <td>{{ resultat.wallu }}</td>
                        <td>{{ resultat.yewi }}</td>
                        <td>{{ resultat.bby }}</td>
                        <td>{{ resultat.aar }}</td>
                        <td>{{ resultat.serviteur }}</td>
                        <td>{{ resultat.natangue }}</td>
                        <td>{{ resultat.bokkgisgis }}</td>
                        <td>{{ resultat.ucb }}</td>
                        {# <td>{{ resultat.user.prenom }} {{resultat.user.nom}}</td> #}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% else %}
            <div class="alert alert-danger text-center" role="alert">
                <span>Aucun enregistrement trouvé </span>
            </div>
            {% endif %}
        </div>
    </div>
    {# Fin Nombre de résultats de Bureaux de Vote obtenus #}
</div>
{% endblock %}