{% extends 'base.html.twig' %}

{% block title %}SunuLégislatives2022 | Résultats des bureaux de vote pour chaque coalition{% endblock %}

{% block body %}


<div class="container-fluid">
    {% for message in app.flashes('success') %}
    <div class="text-center alert alert-success mt-2" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
    <div class="text-center alert alert-danger mt-2" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <div class="card mt-2 mb-2" style="width: 100%;">
        <div class="card-header" style="padding:20px;background-color:#fff !important;">
            <div class="d-flex justify-content-between">
                <div class="mt-2">
                    <h4>Nombre de voix de chaque Coalition par bureau de vote</h4>
                </div>
                <div>

                    <a href="{{path('app_journaliste_circonscription_add')}}" class="btn btn-success">Ajouter</a>

                    {# <a href="" class="btn btn-success">Importer le fichier</a> #}
                </div>
            </div>
        </div>

    </div>
    <div class="content table-responsive">


        {# Liste resultats rep #}
        {% if app.user and app.user.roles[0] == 'ROLE_JOURNALISTE' %}
        {% if resultats %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom de la circonscription</th>
                    <th>Nom de la commune</th>
                    <th>Lieu/Centre de vote</th>
                    <th>Bureau de vote</th>
                    <th>Nombre d'électeurs</th>
                    <th>Nombre de votants</th>
                    <th>Bulletins nuls</th>
                    <th>Bulletins exprimés</th>
                    {% for row in coalitions %}
                    {% if row.resultatCoalitions | length > 0 %}
                    <th>
                        {{row.nom}}
                    </th>
                    {% else %}
                    <th style="display: none;"></th>
                    {% endif %}
                    {% endfor %}
                    <th>Représentant</th>

                </tr>
            </thead>
            <tbody>
                {# {% for resultat in resultats %} #}
                {% if app.user %}
                {% for resultats in resultats %}
                <tr>
                    <td> {{ resultats.user.commune.nom}} </td>
                    <td>{{ resultats.user.BV.commune.commune }}</td>
                    <td>{{ resultats.user.BV.lieu }}</td>
                    <td>{{ resultats.user.BV.NomBV }}</td>
                    <td> {{ resultats.user.BV.nbElecteur |number_format(0, '.', ' ')}} </td>
                    <td>{{ resultats.nbVotant |number_format(0, '.', ' ')}}</td>
                    <td>{{ resultats.bulletinNull |number_format(0, '.', ' ')}}</td>
                    <td>{{ resultats.bulletinExp |number_format(0, '.', ' ')}}</td>
                    {% for row in resultats.getResultatCoalitions %}
                    <td> {{row.nombre |number_format(0, '.', ' ')}} </td>
                    {% endfor %}
                    <td>{{ resultats.user.prenom }} {{resultats.user.nom}}</td>

                </tr>
                {% endfor %}
                {% endif %}
                {# {% endfor %} #}
            </tbody>
        </table>

        {% else %}
        <div class="alert alert-danger text-center" role="alert">
            <span>Aucun enregistrement trouvé </span>
        </div>
        {% endif %}
        {% endif %}

    </div>
</div>
{% endblock %}