{% extends 'base.html.twig' %}

{% block title %}SunuLégislatives2022 | La liste des bureaux de vote{% endblock %}

{% block body %}


<div class="container">
    {% for message in app.flashes('success') %}
    <div class="text-center alert alert-success mt-2" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <div class="card mt-2 mb-2" style="width: 100%;">
        <div class="card-header" style="padding:20px;background-color:#fff !important;">
            <div class="d-flex justify-content-between">
                <div class="mt-2">
                    <h4>La liste des bureaux de vote</h4>
                </div>
                <div>
                    <a href="{{path('app_bureau_vote_new')}}" class="mx-1 my-2 btn  btn btn-secondary">Ajouter</a>
                    <a href="{{path('app_bureau_vote_add')}}" class="mx-1 my-2 btn  btn btn-success">Importer le
                        fichier</a>
                </div>
            </div>
        </div>

    </div>
    <div class="content table-responsive">
        {% if bureau_votes %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Commune</th>
                    <th>Lieu/Centre de vote</th>
                    <th>Nom du bureau de vote</th>
                    <th>Nombre d'électeurs</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for bureau_vote in bureau_votes %}
                <tr>

                    <td>
                        {% if bureau_vote.commune%}
                        {{ bureau_vote.commune.commune }}
                        {% endif %}
                    </td>
                    <td>{{ bureau_vote.lieu }}</td>
                    <td>{{ bureau_vote.nomBV }}</td>
                    <td>{{ bureau_vote.nbelecteur }}</td>
                    <td>
                        <a href="{{ path('app_bureau_vote_edit', {'id': bureau_vote.id}) }}"
                            class="mx-1 my-2 btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{{ path('app_bureau_vote_delete', {'id': bureau_vote.id}) }} "
                            class="mx-1 my-2 btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <div class="alert alert-danger">
                        <td>Aucun enregistrement trouvé</td>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-danger text-center">
            Aucun enregistrement trouvé
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}