{% extends 'base.html.twig' %}

{% block title %}Modifier les résultats du bureau de vote {{app.user.BV.nomBV}}{% endblock %}

{% block body %}

<div class="container">
    {% for message in app.flashes('success') %}
    <div class="alert alert-warning mt-2">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
    <div class="text-center alert alert-danger mt-2" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <div class="content">
        <div class="card">
            <div class="card-header">
                <h4>Modifier les résultats du bureau de vote {{app.user.BV.nomBV}}</h4>
            </div>
            <div class="card-body">
                {{ include('resultat/_form.html.twig', {'button_label': 'Modifier'}) }}
            </div>
        </div>

    </div>
</div>

{% endblock %}