{% extends 'base.html.twig' %}

{% block title %}SunuLégislatives2022 | Résultats des bureaux de vote pour chaque coalition{% endblock %}

{% block body %}


<div class="container-fluid">
    {% for message in app.flashes('success') %}
    <div class="text-center alert alert-success mt-2" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
    <div class="text-center alert alert-danger mt-2" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <div class="card mt-2 mb-2" style="width: 100%;">
        <div class="card-header" style="padding:20px;background-color:#fff !important;">
            <div class="d-flex justify-content-between">
                <div class="mt-2">
                    <h4>Résultats des bureaux de vote pour chaque coalition</h4>
                </div>
                <div>
                    <a href="{{path('app_resultat_new')}}" class="btn btn-success">Ajouter</a>
                    {# <a href="" class="btn btn-success">Importer le fichier</a> #}
                </div>
            </div>
        </div>

    </div>

    <div class="content table-responsive">
        {% if resultats %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom de la circonscription</th>
                    <th>Bureaux de vote</th>
                    <th>Nombres de votants</th>
                    <th>Bulletins nuls</th>
                    <th>Bulletins exprimés</th>
                    <th>Wallu Sénégal</th>
                    <th>Yewi Askan Wi</th>
                    <th>Benno Bokk Yakaar (mouvance présidentielle)</th>
                    <th>Alternatives pour une Assemblée de rupture (AAR)</th>
                    <th>Les serviteurs</th>
                    <th>Naatangué Sénégal</th>
                    <th>Bokk Gis-Gis</th>
                    <th>Union citoyenne Bunt Bi</th>
                    <th>Présentants</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for resultat in resultats %}
                <tr>
                    <td>{{ resultat.user.BV.nomCir }}</td>
                    <td>{{ resultat.user.BV.NomBV }}</td>
                    <td>{{ resultat.nbVotant }}</td>
                    <td>{{ resultat.bulletinNull }}</td>
                    <td>{{ resultat.bulletinExp }}</td>
                    <td>{{ resultat.wallu }}</td>
                    <td>{{ resultat.yewi }}</td>
                    <td>{{ resultat.bby }}</td>
                    <td>{{ resultat.aar }}</td>
                    <td>{{ resultat.serviteur }}</td>
                    <td>{{ resultat.natangue }}</td>
                    <td>{{ resultat.bokkgisgis }}</td>
                    <td>{{ resultat.ucb }}</td>
                    <td>{{ resultat.user.prenom }} {{resultat.user.nom}}</td>
                    <td>
                        <a href="{{ path('app_resultat_edit', {'id': resultat.id}) }}"
                            class="mx-1 my-2 btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{{ path('app_resultat_delete', {'id': resultat.id}) }} "
                            class="mx-1 my-2 btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <div class="alert alert-danger text-center" role="alert">
            <span>Aucun enregistrement trouvé </span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}