{% extends 'base.html.twig' %}

{% block title %}Liste des représentants{% endblock %}

{% block body %}


<div class="container">
    {% for message in app.flashes('success') %}
    <div class="text-center alert alert-success mt-2" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <div class="card mt-2 mb-2" style="width: 100%;">
        <div class="card-header" style="padding:20px;background-color:#fff !important;">
            <div class="row">
                <div class="col-6 col-md-8">
                    <h4 class="mt-2">La liste des représentants</h4>
                </div>

                <div class="col-6 col-md-4">
                    <a href="{{ path('app_user_new') }}" class="mx-1 my-2 btn  btn btn-secondary">Ajouter</a>
                    <a href="{{ path('app_user_add') }}" class="mx-1 my-2 btn  btn btn-success">Importer le fichier</a>
                </div>
            </div>

        </div>
        <div class="card-hearder text-center">
            <div class="col-md-12">
                <a href="{{path('app_user_sendsms_all')}}" class="mx-1 my-2 btn  btn btn-primary">Envoyer les
                    identifiants de connexion à tous les
                    représentants</a>
                <a href="{{path('app_user_sendsms_one')}}" class="mx-1 my-2 btn  btn btn-dark">Envoyer les identifiants
                    de connexion à un
                    représentant</a>
            </div>
        </div>
    </div>
    <div class="content table-responsive">
        {% if users %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Téléphone</th>
                    <th>Identifiant</th>
                    <th>Nom du bureau de vote</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for users in users %}
                <tr>
                    <td>{{ users.nom }}</td>
                    <td>{{ users.prenom }}</td>
                    <td>{{ users.telephone }}</td>
                    <td>{{ users.username }}</td>
                    <td>
                        {% if users.BV %}
                        {{ users.BV.nomBV }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_user_edit', {'id': users.id}) }}" class="mx-1 my-2 btn btn-warning"><i
                                class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{{ path('app_user_delete', {'id': users.id}) }} " class="mx-1 my-2 btn btn-danger"><i
                                class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <div class="alert alert-danger">
                        <td>Aucun enregistrement trouvé</td>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-danger text-center">
            Aucun enregistrement trouvé
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}