{% extends 'base.html.twig' %}

{% block title %}Envoi de message{% endblock %}

{% block body %}

<div class="container">
    {% for message in app.flashes('error') %}
    <div class="text-center alert alert-danger mt-2" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <div class="content">
        <div class="card">
            <div class="card-header">
                <h4>Envoyer les identifiants de connexion à un
                    représentant</h4>
            </div>
            <div class="card-body">
                {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                <button class="btn btn-success">{{ button_label|default('Envoyer le message') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}